<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィールページ</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Best Books</h1>
    <p>プログラミングの専門家や技術ブロガーに人気の書籍を集めたこのコレクションで、
        コーディングの技術をマスターしましょう。<br>ランキングは、初心者とプロのユーザーの両方にとって必須の読み物として
        取り上げられた頻度を反映しています。</p>
</header>
<main>
    {{ range .books }}
    <section class="book">
        <img src="/static/images/{{ .ImageFilename }}" alt="{{ .Name }}の画像" class="book-image">
        <div class="book-details">
            <h2>{{ .Name }}</h2>
            <p>{{ .Detail }}</p>
            <div class="buttons">
                <a href="{{ .AmazonUrl }}" class="button button-amazon">View on Amazon</a>
                <button class="button button-details" onclick="openModal('{{ .ID }}')">View Details</button>
            </div>
        </div>
    </section>
    {{ end }}
</main>
<footer>
    <!-- フッターコンテンツ -->
</footer>

<!-- モーダルウィンドウ -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>推奨リンク</h2>
        <ul id="recommendList" class="link-list">
        </ul>
    </div>
</div>

<script>
    // モーダルを開く
    function openModal(bookId) {
        const modal = document.getElementById("myModal");
        const recommendList = document.getElementById("recommendList");

        // 推奨リンクをAPIから取得する
        fetch(`/api/recommend/${bookId}`)
            .then(response => response.json())
            .then(data => {
                recommendList.innerHTML = ""; // リストをクリア
                if (data.recommendations.length > 0) {
                    data.recommendations.forEach(recommend => {
                        const listItem = document.createElement("li");
                        const link = document.createElement("a");
                        link.href = recommend.Url;
                        link.textContent = recommend.Detail;
                        listItem.appendChild(link);
                        recommendList.appendChild(listItem);
                    });
                } else {
                    recommendList.innerHTML = "<li>推奨リンクはありません。</li>";
                }
            });

        modal.style.display = "block";
    }

    // モーダルを閉じる
    function closeModal() {
        const modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    // モーダルの外をクリックしたときに閉じる
    window.onclick = function(event) {
        const modal = document.getElementById("myModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>